.movie-poster {
  width: 5em;
  height: 5em;
  border-radius: 0.3em;
  margin-right: 2em;
  border: 1px solid lightgrey;
}

.movie-block {
  border-bottom: 1px solid lightgrey;
  padding: 2em 2em;
  display: flex;
  flex-direction: row;
}

.no-results {
  margin: 2em;
}

.movie-title {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  span.title {
    color: #5b5a5a;
    font-size: 20px;
    font-weight: 600;
  }
  span.year {
    color: #868686;
    font-size: 14px;
  }
}

.list-wrapper {
  border-right: 1px solid lightgray;
  width: 100%;
}
