<header>
  <mat-icon>search</mat-icon>
  <mat-form-field>
    <input matInput type="text" name="s" (keyup)="sendSearch($event)" />
  </mat-form-field>
  <div class="search-params">
    <div class="params">
      <label>YEAR</label>
      <ngx-slider
        [(value)]="value"
        [(highValue)]="highValue"
        [options]="options"
      ></ngx-slider>
    </div>
    <div class="type">
      <label>TYPE</label>
      <div>
        <mat-radio-group [(ngModel)]="type" label="Type">
          <mat-radio-button
            *ngFor="
              let option of ['any', 'movies', 'series', 'episodes'];
              let last = last
            "
            [class.last-item]="last"
            [value]="option"
          >
            {{ option | titlecase }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
</header>

{{ errorMessage }}
