<header>
  <div class="search">
    <mat-icon>search</mat-icon>
    <mat-form-field>
      <input matInput type="text" name="s" #input placeholder="Search" />
    </mat-form-field>
  </div>
  <div class="search-params">
    <div class="params">
      <label>YEAR</label>
      <ngx-slider [(value)]="value" [options]="options"></ngx-slider>
    </div>
    <div class="type">
      <label>TYPE</label>
      <div>
        <mat-radio-group [(ngModel)]="type" label="Type">
          <mat-radio-button
            *ngFor="let option of typeOptions | keyvalue; let last = last"
            [class.last-item]="last"
            [value]="option.key"
          >
            {{ option.value | titlecase }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
</header>

<mat-error>{{ errorMessage }}</mat-error>
